<div class="wrapper">
  <div class="main-panel">
    <div class="row">
      <div class="col-md-12">
      <ul class="nav peach-gradient lighten-3 py-4 mb-r font-weight-bold z-depth-1">
        <li  class="nav-item">
          <img src="../assets/digg.png" style="height:40px;width: 40px;margin-left: 20px;"/>
        </li>
        <li class="nav-item">
          <a class="nav-link active white-text" href="applyNow">Apply Now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active white-text" href="planMyJourney">Plan My Journey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active white-text" href="manageBooking">Manage Booking</a>
        </li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

